<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Roboto -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <!-- Iconos -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />

    <!-- Css -->
    <link href="css/styles.css" rel="stylesheet">

    <title>Mercado liebre</title>
</head>

<body>
    <header>
        <div class="top-header">
            <div class="logo">
                <a href="/"><img src="images/logo-mercado-liebre.svg" alt="Logo"></a>
            </div>
            <form action="/" method="GET">
                <input type="text" name="search" id="search" placeholder="Buscar productos, marcas y más" minlength="3"
                    required>
                <button type="submit" title="search"><i class="fa fa-search"></i></button>
            </form>
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="bot-header">
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </div>
    </header>

    <main>
        <section class="login">
            <form action="/" method="post">
                <div class="form-input">
                    <input type="text" name="name" id="name" placeholder="Nombre de usuario" minlength="2" required>
                    <span class="feedback"></span>
                </div>

                <div class="form-input">
                    <input type="password" name="password" id="pass" placeholder="Contraseña" minlength="6" required>
                    <span class="feedback"></span>
                </div>

                <div class="form-button">
                    <button type="submit" name="submit">Enviar</button>
                </div>
            </form>
        </section>
    </main>

    <footer>
        <div class="info">
            <section>
                <i class="fa-solid fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es seguro!</p>
            </section>

            <section>
                <i class="fa-solid fa-gift"></i>
                <h3>Envío gratis desde $2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio de Mercado Puntos.</p>
            </section>

            <section>
                <i class="fa-solid fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                    protegid@.</p>
            </section>
        </div>

        <div class="copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>

</html>