* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 12px;
}

div.top-header {
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
    align-items: center;
    justify-content: space-around;
}

header div.top-header p {
    text-align: center;
    margin-top: 10px;
}

header {
    background-color: #EAC926;
}

header div.logo {
    width: 50%;
    padding: 10px;
}

header form {
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
}

header nav {
    display: flex;
    font-size: 12px;
    margin-left: 20px;
    justify-content: space-between;
    align-items: flex-end;
}

header form input {
    display: flex;
    background-color: #FFF;
    outline: none;
    color: #666;
    font-size: 1.3em;
    border-radius: 10px 0 0 10px;
    width: 100%;
    border: none;
}

header form button {
    background-color: #FFF;
    color: #666;
    width: 10%;
    border: none;
    padding: 15px 0;
    text-align: center;
    border-radius: 0 10px 10px 0;
    font-size: 1.3em;
    cursor: pointer;
}

div.burger-menu {
    text-align: center;
}

div.burger-menu i {
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

div.last-visit,
div.offers {
    display: flex;
    flex-wrap: wrap;
}

.discount {
    width: 70%;
    font-size: 16px;
    font-weight: normal;
}

h3 {
    color: #666;
}

section.banner img {
    width: 100%;
}

main {
    width: 90%;
    margin: 0 auto;
}

main section article {
    background-color: #fff;
    margin: 10px 0px;
    cursor: pointer;
}

.description {
    display: none;
    font-size: 16px;
    font-weight: normal;
    color: #666;
    margin-top: 20px;
}

main section article img {
    width: 100%;
}

main section article i,
.discount {
    color: #39b54a;
}

main section article i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section h3 {
    margin: 20px 0px;
}

article div.main-article {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

footer {
    display: flex;
    flex-direction: column;
}

footer section {
    display: flex;
    align-items: center;
    margin: 20px 0px;
}

footer section h3 {
    margin: 0px;
    color: #666;
}

footer section i {
    font-size: 2em;
    color: #1259c3;
    margin-bottom: 10px;
}

footer section p {
    margin: 0px;
}

footer p {
    color: #666;
    width: 61%;
}

footer .copyright {
    margin-left: 15px;
    font-size: 11px;
}

@media (min-width: 361px) {
    header div.top-header {
        padding: 5%;
    }

    header div.top-header div.logo {
        width: 50%;
    }

    header form {
        width: 50%;
        align-items: stretch;
    }

    header form input {
        padding: 6%;
    }

    header nav {
        display: none;
    }

    main section div.products {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }

    main section div.products article {
        width: 80%;
    }

    .price,
    .discount {
        width: 50%;
    }

    footer section {
        flex-direction: column;
    }

    /* formulario */

    section.login div.form-input,
    section.register div.form-input {
        width: 75%;
        margin-bottom: 7%;
    }

    section.login div.form-input input,
    section.register div.form-input input {
        padding: 5%;
    }

    section.login div.form-button,
    section.register div.form-button {
        width: 75%;
        padding: 2%;
    }

    section div.form-button button {
        width: 100%;
        padding: 5%;
    }
}

@media (min-width: 769px) {
    header div.top-header {
        padding: 0;
    }

    header div.top-header div.logo {
        width: 20vw;
    }

    header div.burger-menu {
        display: none;
    }

    header nav {
        display: flex;
    }

    header nav ul {
        display: flex;
        align-items: center;
    }

    header nav ul li {
        padding: 4% 0;
        margin: 0 20px;
        list-style-type: none;
    }

    header nav ul li a {
        text-decoration: none;
        color: #000;
    }

    header form {
        display: flex;
        padding: 2px;
        font-size: 11px;
        width: 50%;
        align-items: stretch;
    }

    header form input {
        padding: 2%;
    }

    main section div.products article {
        width: 22%;
    }

    main section article:hover .description {
        display: block;
    }

    main section div.products article i {
        transition: transform 1s;
    }

    main section div.products article:hover i {
        transform: rotate(-90deg);
    }

    .price {
        font-size: 18px;
        width: 30%;
    }

    main article:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    footer div.info {
        display: flex;
    }

    /* Formularios */

    section.login div.form-input,
    section.register div.form-input {
        width: 50%;
        margin-bottom: 1%;
    }

    section.login div.form-input input,
    section.register div.form-input input {
        padding: 2%;
    }

    section.login div.form-button,
    section.register div.form-button {
        width: 50%;
        padding: 0;
    }

    section div.form-button button {
        width: 100%;
        padding: 2%;
    }
}

/* Formularios */

section.login,
section.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
}

section.login form,
section.register form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

section.login div.form-button button:hover,
section.register div.form-button button:hover {
    color: white;
    background-color: #0022AA;
}

section.login div.form-input,
section.register div.form-input {
    display: flex;
    flex-direction: column;
}

section.login div.form-input input,
section.register div.form-input input {
    border: 1px solid #8080807a;
}

section.login div.form-button,
section.register div.form-button {
    display: flex;
    margin: 20px;
    justify-content: center;
}

section div.form-button button {
    background-color: #0044aa;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 20px
}